body {
	background-color: #fff17c;
	color: #8230ff;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 15px;
}

h1 {
  font-family: 'Codystar', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Julius Sans One', sans-serif;
}

a, a:active, a:visited {
	color: #8230ff;
	text-decoration: none;
}

a:hover {
	color: #7cccff;
	text-decoration: none;
}

.content-box {
	margin-top: 20px;
	border: 4px solid #ff9966;
}

#row-one, #row-two, #row-three {
	background-color: white;
	padding-top: 10px; 
}

/* For footer positioning and to get rid of weird L-R scroll bar */
html, body {
	height: 100%;
	overflow-x: hidden;
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0px auto -30px;
	/* Pad bottom by footer height */
	padding: 0px 0px 30px 0px;
}

/* Sticky footer styling! */
#footer {
	/* Must match margin-bottom in .wrapper CSS */
  /* Set the fixed height of the footer here */
  background-color: #ffc1cc;
	color: #ff55a3;
	height: 30px;
	padding: 5px;
	border-top: 1px solid #ff55a3;
	text-align: center;
	overflow: auto;
}